## Importing the Packages

In [303]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re

## The different URL that are being used to scrape the data

In [304]:
url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population'
city_url= "https://en.wikipedia.org/wiki/"
crime_url= 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_crime_rate'
house_url="https://www.kiplinger.com/tool/real-estate/T010-S003-home-prices-in-100-top-u-s-metro-areas/index.php"
income_url = "https://www.forbes.com/sites/jacquelynsmith/2013/11/27/the-u-s-cities-where-people-earn-the-biggest-and-smallest-paychecks/#7a4324283b0d"
cannabis_url = "https://en.wikipedia.org/wiki/Legality_of_cannabis_by_U.S._jurisdiction" 
lifeExpectancy_url = "https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_life_expectancy"
educ_url ="https://en.wikipedia.org/wiki/List_of_U.S._states_by_educational_attainment"
unempRate_url ="https://www.bls.gov/web/metro/laummtrk.htm"
df = pd.DataFrame()
crime_df = pd.DataFrame()
house_df = pd.DataFrame()
income_df = pd.DataFrame()
cannab = pd.DataFrame()
edu_df= pd.DataFrame()
life= pd.DataFrame()
unempRate= pd.DataFrame()

cityUrl= []

## Scraper function which will be used to call the request url and return the soup

In [305]:
def scraperFunc(url):
    response = requests.get(url)       
    soup = BeautifulSoup(response.text,'html.parser')
    return soup

## Function to scrape the data from the main wikipedia page United States

Here we use regex to keep only alpha numeric charcters in the dataframe

In [306]:
def mainWikitable(soup):
    wiki_table = soup.find('table',{'class':'wikitable sortable'})
    rank=[]
    city=[]
    state=[]
    estimate_2017=[]
    census_2010=[]
    change =[]
    landAreaMile_2016=[]
    landAreakm2_2016= []
    populationDensityMile_2016=[]
    populationDensityKm2_2016= []
    location=[]
    latitude=[]
    longitude=[]    
    x=0
    for row in wiki_table.findAll('tr'):
        if x<11 :
            x+=1
            cells=row.findAll('td')
            #print(len(cells))
            if len(cells)==11:
                rank.append(cells[0].find(text=True))
                city.append(cells[1].find(text=True))
                state.append(cells[2].findAll(text=True)[1])
                estimate_2017.append(cells[3].find(text=True))  
                census_2010.append(cells[4].find(text=True))
                change.append(cells[5].find(text=True))
                landAreaMile_2016.append(cells[6].find(text=True))
                landAreakm2_2016.append(cells[7].find(text=True))
                populationDensityMile_2016.append(cells[8].find(text=True))
                populationDensityKm2_2016.append(cells[9].find(text=True))
                location.append(cells[10].findAll(text=True)[4])
                latitude.append(cells[10].findAll(text=True)[4].split(" ")[0])
                longitude.append(cells[10].findAll(text=True)[4].split(" ")[1])
                
    rank = [re.sub(r"[^a-zA-Z0-9]", "", file) for file in rank]
    state = [re.sub(r"[^a-zA-Z0-9]", "", file) for file in state]
    estimate_2017 = [re.sub(r"[^a-zA-Z0-9]", "", file) for file in estimate_2017]
    census_2010 = [re.sub(r"[^a-zA-Z0-9]", "", file) for file in census_2010]
    landAreaMile_2016 = [re.sub(r"[^0-9]", "", file) for file in landAreaMile_2016]
    landAreakm2_2016 = [re.sub(r"[^0-9]", "", file) for file in landAreakm2_2016]
    populationDensityMile_2016 = [re.sub(r"[^0-9]", "", file) for file in populationDensityMile_2016]
    populationDensityKm2_2016 = [re.sub(r"[^0-9]", "", file) for file in populationDensityKm2_2016] 
    latitude = [re.sub(r"[^a-zA-Z0-9.]", "", file) for file in latitude] 
    longitude = [re.sub(r"[^a-zA-Z0-9.]", "", file) for file in longitude] 
    change = [i.replace(u'\u2212', '-') for i in change]
    change = [re.sub(r"[^0-9]", "", file) for file in change]
    
    df['population rank 2018'] = rank
    df['city'] = city
    df['state'] = state
    df['estimate_2017'] = estimate_2017
    df['census_2010'] = census_2010
    df['change'] = change
    df['landAreaMile_2016'] = landAreaMile_2016
    df['landAreakm2_2016'] = landAreakm2_2016
    df['populationDensityMile_2016'] = populationDensityMile_2016
    df['populationDensityKm2_2016'] = populationDensityKm2_2016
    #df['location'] = location
    df['latitude'] = latitude
    df['longitude'] = longitude
    return city

In [307]:
soup= scraperFunc(url)
city= mainWikitable(soup)

In [308]:

df

,population rank 2018,city,state,estimate_2017,census_2010,change,landAreaMile_2016,landAreakm2_2016,populationDensityMile_2016,populationDensityKm2_2016,latitude,longitude
0,1,New York City,NewYork,8398748,8175133,274,3015,7809,28317,10933,40.6635N,73.9387W
1,2,Los Angeles,California,3990456,3792621,522,4687,12139,8484,3276,34.0194N,118.4108W
2,3,Chicago,Illinois,2705994,2695598,039,2273,5887,11900,4600,41.8376N,87.6818W
3,4,Houston,Texas,2325502,2100263,1072,6375,16511,3613,1395,29.7866N,95.3909W
4,5,Phoenix,Arizona,1660272,1445632,1485,5176,13406,3120,1200,33.5722N,112.0901W
5,6,Philadelphia,Pennsylvania,1584138,1526006,381,1342,3476,11683,4511,40.0094N,75.1333W
6,7,San Antonio,Texas,1532233,1327407,1543,4610,11940,3238,1250,29.4724N,98.5251W
7,8,San Diego,California,1425976,1307402,907,3252,8423,4325,1670,32.8153N,117.1350W
8,9,Dallas,Texas,1345047,1197816,1229,3409,8829,3866,1493,32.7933N,96.7665W
9,10,San Jose,California,1030119,945942,890,1775,4597,5777,2231,37.2967N,121.8189W

## Forming the different cities url(wikipedia page for each city)
For the cities that have spacein the, we replace the space with underscore(_) and append them to the city url

In [309]:
def formUrl():
    for i in city:
        i=i.replace(" ", "_")
        if i == "Phoenix":
            i = "Phoenix_Arizona"
        elif i== "San_Jose" :
            i = "San_Jose,_California"
        elif i== "Columbus" :
            i = "Columbus,_Ohio"    
        cityUrl.append(city_url+i)

## Scraping data from the individual city pages
table1 contains the demographic data, while table2 gets data from below the city picture on the right side of the page

In [310]:
white=[]
nonHisp=[]
africanAmerican=[]
hispanic=[]
asian=[]
mayor_name=[]
time_zone= []
def cityWikipages():
    x=0
    for i in cityUrl:
        soup = scraperFunc(i)
        table1= soup.find('table',{'class':'wikitable sortable collapsible'})
        
        x+=1
        for row in table1.findAll('tr'):
            cells=row.findAll('td')
            
            if len(cells)==5:
                
                
                if cells[0].find(text=True) == "White" or cells[0].find(text=True)== "White or European American" or cells[0].find(text=True) =="Non-Hispanic White":
                    white.append(cells[1].find(text=True))
                elif cells[0].find(text=True) == "Black or African American":
                    africanAmerican.append(cells[1].find(text=True))
                elif cells[0].find(text=True) =="Hispanic or Latino":
                    if(cells[1].find(text=True)!= "n/a"):
                        hispanic.append(cells[1].find(text=True))
                elif cells[0].find(text=True) == "Asian" :
                    asian.append(cells[1].find(text=True))
              
        if x!= len(white):
                white.append('0')
        elif x!= len(africanAmerican):
                africanAmerican.append('0')
        elif x!= len(hispanic):
                hispanic.append('0')
        elif x!= len(asian):
                asian.append('0')
        
        table2 =soup.find('table',{'class':'infobox geography vcard'})
        for row in table2.findAll('tr'):
            if row.find('th') is not None and "Mayor" in row.find('th').text.strip():
                mayor_name.append(row.find('td').text.strip().split("[")[0])
                
            if row.find('th') is not None and "Time zone" in row.find('th').text.strip():
                time_zone.append(row.find('td').text.strip())

Regex is used to make sure only alphanumeric characters are present in the dataframe

In [311]:
formUrl()
cityWikipages()

time_zone = [i.replace(u'\u2212', '-') for i in time_zone]
white = [re.sub(r"[^a-zA-Z0-9.]", "", file) for file in white]
africanAmerican = [re.sub(r"[^a-zA-Z0-9.]", "", file) for file in africanAmerican]
hispanic = [re.sub(r"[^a-zA-Z0-9.]", "", file) for file in hispanic]
asian = [re.sub(r"[^a-zA-Z0-9.]", "", file) for file in asian]

df['white'] = white
df['africanAmerican'] = africanAmerican
df['hispanic'] = hispanic
df['asian'] = asian
df['Mayor Name'] = mayor_name
df['Time Zone'] = time_zone

In [312]:
df.head()

,population rank 2018,city,state,estimate_2017,census_2010,change,landAreaMile_2016,landAreakm2_2016,populationDensityMile_2016,populationDensityKm2_2016,latitude,longitude,white,africanAmerican,hispanic,asian,Mayor Name,Time Zone
0,1,New York City,NewYork,8398748,8175133,274,3015,7809,28317,10933,40.6635N,73.9387W,44.0,25.5,28.6,12.7,Bill de Blasio (D),UTC-05:00 (EST)
1,2,Los Angeles,California,3990456,3792621,522,4687,12139,8484,3276,34.0194N,118.4108W,28.7,9.6,48.5,11.3,Eric Garcetti (D),UTC-08:00 (Pacific)
2,3,Chicago,Illinois,2705994,2695598,039,2273,5887,11900,4600,41.8376N,87.6818W,44.9,32.9,28.9,5.5,Lori Lightfoot (D),UTC-06:00 (Central)
3,4,Houston,Texas,2325502,2100263,1072,6375,16511,3613,1395,29.7866N,95.3909W,0,25.7,43.7,6.0,Sylvester Turner (D),UTC-6 (CST)
4,5,Phoenix,Arizona,1660272,1445632,1485,5176,13406,3120,1200,33.5722N,112.0901W,92.3,6.5,0,0.8,Kate Gallego,UTC-7 (MST (no DST))

## Scraping Data for crime rates in different cities

In [313]:
city1 = []
state1 = []
violentCrime = []
propertyCrime = []

def crimeWikiTable(soup):
    crime_table = soup.find('table',{'class':'wikitable sortable'})

    for row in crime_table.findAll('tr'):
       
        cells=row.findAll('td')
      #  print(len(cells))
        if len(cells) ==13 :
            if cells[1].find(text=True)=="New York" :
                city1.append("New York City")
            else :
                city1.append(cells[1].find(text=True))
            if cells[0].find(text=True)=="New York":
                state1.append("NewYork")
            else:   
                state1.append(cells[0].find(text=True))
            violentCrime.append(cells[3].find(text=True))
            propertyCrime.append(cells[8].find(text=True))

In [314]:

soup= scraperFunc(crime_url)
crimeWikiTable(soup)

In [315]:
crime_df['city'] = city1
crime_df['state'] = state1
crime_df['Violent Crime'] = violentCrime
crime_df['propertyCrime'] = propertyCrime
#crime_df

we merge the 2 dataframes on city and state

In [316]:
df = pd.merge(df, crime_df, how='inner', on=['city', 'state'])

In [317]:
df.head()

,population rank 2018,city,state,estimate_2017,census_2010,change,landAreaMile_2016,landAreakm2_2016,populationDensityMile_2016,populationDensityKm2_2016,latitude,longitude,white,africanAmerican,hispanic,asian,Mayor Name,Time Zone,Violent Crime,propertyCrime
0,1,New York City,NewYork,8398748,8175133,274,3015,7809,28317,10933,40.6635N,73.9387W,44.0,25.5,28.6,12.7,Bill de Blasio (D),UTC-05:00 (EST),538.90,1448.59
1,2,Los Angeles,California,3990456,3792621,522,4687,12139,8484,3276,34.0194N,118.4108W,28.7,9.6,48.5,11.3,Eric Garcetti (D),UTC-08:00 (Pacific),761.31,2535.92
2,3,Chicago,Illinois,2705994,2695598,039,2273,5887,11900,4600,41.8376N,87.6818W,44.9,32.9,28.9,5.5,Lori Lightfoot (D),UTC-06:00 (Central),1098.86,3263.80
3,4,Houston,Texas,2325502,2100263,1072,6375,16511,3613,1395,29.7866N,95.3909W,0,25.7,43.7,6.0,Sylvester Turner (D),UTC-6 (CST),1095.23,4128.41
4,5,Phoenix,Arizona,1660272,1445632,1485,5176,13406,3120,1200,33.5722N,112.0901W,92.3,6.5,0,0.8,Kate Gallego,UTC-7 (MST (no DST)),760.93,3670.71

## Scraping Data to get the houses prices in different cities

In [318]:
city1=[]
price =[]
def houseRate():
    
    house_table = soup.find('table',{'class':'kip-table sortable'})

    for row in house_table.findAll('tr'):

            cells=row.findAll('td')
            if len(cells) ==6 :
                x= cells[0].find(text=True).split(", ")
                if x[0]=="New York" :
                    city1.append("New York City")
                else :
                    city1.append(x[0])
               
                price.append(cells[1].find(text=True))

In [319]:
soup= scraperFunc(house_url)
houseRate()
price = [re.sub(r"[^0-9]", "", file) for file in price]
house_df['city'] = city1
house_df['house price'] = price

In [320]:
df = pd.merge(df, house_df, how='inner', on=['city'])

In [321]:
df.head()

,population rank 2018,city,state,estimate_2017,census_2010,change,landAreaMile_2016,landAreakm2_2016,populationDensityMile_2016,populationDensityKm2_2016,...,longitude,white,africanAmerican,hispanic,asian,Mayor Name,Time Zone,Violent Crime,propertyCrime,house price
0,1,New York City,NewYork,8398748,8175133,274,3015,7809,28317,10933,...,73.9387W,44.0,25.5,28.6,12.7,Bill de Blasio (D),UTC-05:00 (EST),538.90,1448.59,410000
1,2,Los Angeles,California,3990456,3792621,522,4687,12139,8484,3276,...,118.4108W,28.7,9.6,48.5,11.3,Eric Garcetti (D),UTC-08:00 (Pacific),761.31,2535.92,634000
2,3,Chicago,Illinois,2705994,2695598,039,2273,5887,11900,4600,...,87.6818W,44.9,32.9,28.9,5.5,Lori Lightfoot (D),UTC-06:00 (Central),1098.86,3263.80,215000
3,4,Houston,Texas,2325502,2100263,1072,6375,16511,3613,1395,...,95.3909W,0,25.7,43.7,6.0,Sylvester Turner (D),UTC-6 (CST),1095.23,4128.41,178000
4,5,Phoenix,Arizona,1660272,1445632,1485,5176,13406,3120,1200,...,112.0901W,92.3,6.5,0,0.8,Kate Gallego,UTC-7 (MST (no DST)),760.93,3670.71,252000

## Scraping Data to get the per capita income of the people in different cities

In [322]:
city1=[]
income =[]
def perCapitaIncome():
    income_table = soup.find('table',)

    for row in income_table.findAll('tr'):

        cells=row.findAll('td')
#        print(len(cells))
        if len(cells) == 4:
            if cells[0].find(text=True).split("-")[0]=="New York" :
                city1.append("New York City")
            elif cells[0].find(text=True).split("-")[0]=="San Antonio, TX" :
                city1.append("San Antonio")
            else :
                city1.append(cells[0].find(text=True).split("-")[0])
            income.append(cells[1].find(text=True))

In [323]:
soup= scraperFunc(income_url)
perCapitaIncome()
income = [re.sub(r"[^0-9]", "", file) for file in income]
income_df['city'] = city1
income_df['per capita income'] = income

In [324]:
df = pd.merge(df, income_df, how='inner', on=['city'])

In [325]:
df.head()

,population rank 2018,city,state,estimate_2017,census_2010,change,landAreaMile_2016,landAreakm2_2016,populationDensityMile_2016,populationDensityKm2_2016,...,white,africanAmerican,hispanic,asian,Mayor Name,Time Zone,Violent Crime,propertyCrime,house price,per capita income
0,1,New York City,NewYork,8398748,8175133,274,3015,7809,28317,10933,...,44.0,25.5,28.6,12.7,Bill de Blasio (D),UTC-05:00 (EST),538.90,1448.59,410000,68800
1,2,Los Angeles,California,3990456,3792621,522,4687,12139,8484,3276,...,28.7,9.6,48.5,11.3,Eric Garcetti (D),UTC-08:00 (Pacific),761.31,2535.92,634000,66600
2,3,Chicago,Illinois,2705994,2695598,039,2273,5887,11900,4600,...,44.9,32.9,28.9,5.5,Lori Lightfoot (D),UTC-06:00 (Central),1098.86,3263.80,215000,63800
3,4,Houston,Texas,2325502,2100263,1072,6375,16511,3613,1395,...,0,25.7,43.7,6.0,Sylvester Turner (D),UTC-6 (CST),1095.23,4128.41,178000,71900
4,5,Phoenix,Arizona,1660272,1445632,1485,5176,13406,3120,1200,...,92.3,6.5,0,0.8,Kate Gallego,UTC-7 (MST (no DST)),760.93,3670.71,252000,64200

## Scraping Data to check if Marijuana is legal or illegal in the city

In [326]:
state1=[]
recr_canab=[]

def cannabisLegality():
    
    can_table = soup.find('table',{'class':'wikitable sortable'})
    for row in can_table.findAll('tr'):

        cells=row.findAll('td')

        if len(cells) ==7 :
            if cells[0].find(title=True).text.strip()=="New York" :
                state1.append("NewYork")
            else:    
                state1.append(cells[0].find(title=True).text.strip())
            recr_canab.append(cells[2].find(text=True).split(" ")[0])

In [327]:
soup= scraperFunc(cannabis_url)
cannabisLegality()

cannab['state'] = state1
recr_canab = [re.sub(r"[^a-zA-Z0-9 ]", "", file) for file in recr_canab] 
cannab['recreational Cannabis'] = recr_canab

In [328]:
df = pd.merge(df, cannab, how='left', on=['state'])

In [329]:
df.head()

,population rank 2018,city,state,estimate_2017,census_2010,change,landAreaMile_2016,landAreakm2_2016,populationDensityMile_2016,populationDensityKm2_2016,...,africanAmerican,hispanic,asian,Mayor Name,Time Zone,Violent Crime,propertyCrime,house price,per capita income,recreational Cannabis
0,1,New York City,NewYork,8398748,8175133,274,3015,7809,28317,10933,...,25.5,28.6,12.7,Bill de Blasio (D),UTC-05:00 (EST),538.90,1448.59,410000,68800,decriminalized
1,2,Los Angeles,California,3990456,3792621,522,4687,12139,8484,3276,...,9.6,48.5,11.3,Eric Garcetti (D),UTC-08:00 (Pacific),761.31,2535.92,634000,66600,legal
2,3,Chicago,Illinois,2705994,2695598,039,2273,5887,11900,4600,...,32.9,28.9,5.5,Lori Lightfoot (D),UTC-06:00 (Central),1098.86,3263.80,215000,63800,decriminalized
3,4,Houston,Texas,2325502,2100263,1072,6375,16511,3613,1395,...,25.7,43.7,6.0,Sylvester Turner (D),UTC-6 (CST),1095.23,4128.41,178000,71900,Illegal
4,5,Phoenix,Arizona,1660272,1445632,1485,5176,13406,3120,1200,...,6.5,0,0.8,Kate Gallego,UTC-7 (MST (no DST)),760.93,3670.71,252000,64200,Illegal

## Scraping Data to find the average life expectancy in different cities

In [330]:

state1=[]
lifeExpect=[]

def lifeExpected():

    life_table = soup.find('table',{'class':'wikitable sortable'})


    for row in life_table.findAll('tr'):

        cells=row.findAll('td')
        if len(cells) == 8:
            if cells[1].find(title=True).text.strip()=="New York" :
                    state1.append("NewYork")
            else:
                state1.append(cells[1].find(title=True).text.strip())
            lifeExpect.append(cells[2].find(text=True))

In [331]:
soup= scraperFunc(lifeExpectancy_url)    
lifeExpected()
life['state'] = state1
life['life expectancy']= lifeExpect

In [332]:
df = pd.merge(df, life, how='left', on=['state'])

In [333]:
df.head()

,population rank 2018,city,state,estimate_2017,census_2010,change,landAreaMile_2016,landAreakm2_2016,populationDensityMile_2016,populationDensityKm2_2016,...,hispanic,asian,Mayor Name,Time Zone,Violent Crime,propertyCrime,house price,per capita income,recreational Cannabis,life expectancy
0,1,New York City,NewYork,8398748,8175133,274,3015,7809,28317,10933,...,28.6,12.7,Bill de Blasio (D),UTC-05:00 (EST),538.90,1448.59,410000,68800,decriminalized,80.5
1,2,Los Angeles,California,3990456,3792621,522,4687,12139,8484,3276,...,48.5,11.3,Eric Garcetti (D),UTC-08:00 (Pacific),761.31,2535.92,634000,66600,legal,80.8
2,3,Chicago,Illinois,2705994,2695598,039,2273,5887,11900,4600,...,28.9,5.5,Lori Lightfoot (D),UTC-06:00 (Central),1098.86,3263.80,215000,63800,decriminalized,79.0
3,4,Houston,Texas,2325502,2100263,1072,6375,16511,3613,1395,...,43.7,6.0,Sylvester Turner (D),UTC-6 (CST),1095.23,4128.41,178000,71900,Illegal,78.5
4,5,Phoenix,Arizona,1660272,1445632,1485,5176,13406,3120,1200,...,0,0.8,Kate Gallego,UTC-7 (MST (no DST)),760.93,3670.71,252000,64200,Illegal,79.6

## Scraping Data to find the unemployement rate in different cities

In [334]:
city1=[]
unemp=[]

def unemeploymentRate():
    unemp_table = soup.find('table',{'class':'regular'})


    for row in unemp_table.findAll('tr'):

        cell1=row.findAll('th')
        cells=row.findAll('td')
       # print(len(cells))
        if len(cell1)==1 :
            if cell1[0].find(text=True).split("-")[0]=="New York" :
                city1.append("New York City")
            else :
                city1.append(cell1[0].find(text=True).split("-")[0])

        if len(cells) == 2:
            unemp.append(cells[1].find(text=True))

In [335]:
soup= scraperFunc(unempRate_url)
unemeploymentRate()

unempRate['city'] = city1
unempRate['Unemployment  Rank']= unemp
unempRate
df = pd.merge(df, unempRate, how='inner', on=['city'])

In [336]:
df.head()

,population rank 2018,city,state,estimate_2017,census_2010,change,landAreaMile_2016,landAreakm2_2016,populationDensityMile_2016,populationDensityKm2_2016,...,asian,Mayor Name,Time Zone,Violent Crime,propertyCrime,house price,per capita income,recreational Cannabis,life expectancy,Unemployment Rank
0,1,New York City,NewYork,8398748,8175133,274,3015,7809,28317,10933,...,12.7,Bill de Blasio (D),UTC-05:00 (EST),538.90,1448.59,410000,68800,decriminalized,80.5,205
1,2,Los Angeles,California,3990456,3792621,522,4687,12139,8484,3276,...,11.3,Eric Garcetti (D),UTC-08:00 (Pacific),761.31,2535.92,634000,66600,legal,80.8,232
2,3,Chicago,Illinois,2705994,2695598,039,2273,5887,11900,4600,...,5.5,Lori Lightfoot (D),UTC-06:00 (Central),1098.86,3263.80,215000,63800,decriminalized,79.0,232
3,4,Houston,Texas,2325502,2100263,1072,6375,16511,3613,1395,...,6.0,Sylvester Turner (D),UTC-6 (CST),1095.23,4128.41,178000,71900,Illegal,78.5,165
4,5,Phoenix,Arizona,1660272,1445632,1485,5176,13406,3120,1200,...,0.8,Kate Gallego,UTC-7 (MST (no DST)),760.93,3670.71,252000,64200,Illegal,79.6,232

## Scraping Data to find the rank of different cities in terms of education

In [337]:
state1=[]
educ_Rank=[]
def education():
    educ_table = soup.find('table',{'class':'wikitable sortable'})


    for row in educ_table.findAll('tr'):

            cells=row.findAll('td')

            #print(len(cells))
            if len(cells)==7 :
                if cells[0].find(text=True)=="New York" :
                    state1.append("NewYork")
                else:
                    state1.append(cells[0].find(text=True))
                educ_Rank.append(cells[2].find(text=True))

In [338]:
soup= scraperFunc(educ_url)
education()
edu_df= pd.DataFrame()
edu_df['state'] = state1
edu_df['Educational Rank']= educ_Rank


df = pd.merge(df, edu_df, how='left', on=['state'])

In [339]:
df

,population rank 2018,city,state,estimate_2017,census_2010,change,landAreaMile_2016,landAreakm2_2016,populationDensityMile_2016,populationDensityKm2_2016,...,Mayor Name,Time Zone,Violent Crime,propertyCrime,house price,per capita income,recreational Cannabis,life expectancy,Unemployment Rank,Educational Rank
0,1,New York City,NewYork,8398748,8175133,274,3015,7809,28317,10933,...,Bill de Blasio (D),UTC-05:00 (EST),538.90,1448.59,410000,68800,decriminalized,80.5,205,40
1,2,Los Angeles,California,3990456,3792621,522,4687,12139,8484,3276,...,Eric Garcetti (D),UTC-08:00 (Pacific),761.31,2535.92,634000,66600,legal,80.8,232,2
2,3,Chicago,Illinois,2705994,2695598,039,2273,5887,11900,4600,...,Lori Lightfoot (D),UTC-06:00 (Central),1098.86,3263.80,215000,63800,decriminalized,79.0,232,30
3,4,Houston,Texas,2325502,2100263,1072,6375,16511,3613,1395,...,Sylvester Turner (D),UTC-6 (CST),1095.23,4128.41,178000,71900,Illegal,78.5,165,49
4,5,Phoenix,Arizona,1660272,1445632,1485,5176,13406,3120,1200,...,Kate Gallego,UTC-7 (MST (no DST)),760.93,3670.71,252000,64200,Illegal,79.6,232,36
5,6,Philadelphia,Pennsylvania,1584138,1526006,381,1342,3476,11683,4511,...,Jim Kenney (D),UTC-5 (EST),947.58,3063.48,205000,63900,illegal,78.5,165,23
6,7,San Antonio,Texas,1532233,1327407,1543,4610,11940,3238,1250,...,Ron Nirenberg (I),UTC-6 (CST),707.50,4844.84,153000,58400,Illegal,78.5,67,49
7,8,San Diego,California,1425976,1307402,907,3252,8423,4325,1670,...,Kevin Faulconer (R),UTC-8 (Pacific),366.61,1842.97,545000,67900,legal,80.8,165,2
8,9,Dallas,Texas,1345047,1197816,1229,3409,8829,3866,1493,...,Mike Rawlings (D),UTC-6 (Central),774.64,3185.09,195000,66300,Illegal,78.5,95,49
9,10,San Jose,California,1030119,945942,890,1775,4597,5777,2231,...,Sam Liccardo,UTC-8 (Pacific Time Zone),403.65,2440.70,1100000,99600,legal,80.8,49,2

## writing data to csv format

In [340]:
df.to_csv('topos_topCities.csv', index=False)